@media only screen and (max-width: 767px){
    .d{

        visibility: hidden;

     }
    }

     @media only screen and (min-width:769px){
        .d{
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
    
         }
        }